body {
    font-family: 'Cinzel', serif;
    background-color: #000000;
    padding-bottom: 20vh;
    text-align: center;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/60045395770229.5e9f3378e24dc.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding-bottom: 20vh;
}

.logo {
    width: 36em;
    height: 18em;
}


h2, .titulo {
    font-size: 45px;
    color:aliceblue;
    text-shadow: rgb(121, 0, 0) 1.8px 1.8px;
    margin-bottom: 20px;
    
}

.container {
    text-align: center;
    padding: 20px;
}

#carta-jogador, #carta-maquina {
    width: 360px;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-size: 350px 300px;
    background: no-repeat;
    background-position-x: 5px;
    background-position-y: 10px;
    border-radius: 33px; 
}

#carta-jogador h3 {
    text-align: center;
}

.carta-imagem {
    border: 1px solid black;
    height: 100px;
    margin: 10px;
}

.carta-imagem img {
    height: 100%;
    width: 100%;
}

.carta-status {
    font-size: 0.9rem;
    height: 170px;
    margin: 2rem;
    color: white;
    z-index: 2;
    text-align: left;
}

.carta-status input {
    margin: 13px 10px;
}

.resultado-final {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem;
    border: 2px solid black;
    background-color: black;
}

.--spacing {
    margin-left: 2.5rem;
}

.caixa {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.botao {
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    background: rgb(204, 203, 203);
    border-radius: 8px;
}

.botao:hover {
    cursor: pointer;
    border: 3px solid rgb(121, 0, 0);
    color: rgb(121, 0, 0);
    font-size: 22px;
}
