body {
    font-family: 'Cinzel', serif;
    background-color: #000000;
    padding-bottom: 20vh;
    text-align: center;
}

.container {
    text-align: center;
    padding: 20px;
}

#carta-jogador, #carta-maquina {
    width: 360px;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    position: relative;
    background-size: 350px 300px;
    background: no-repeat;
    background-position-x: 5px;
    background-position-y: 10px;
    border-radius: 33px; 
}

.botao {
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    background: rgb(204, 203, 203);
    border-radius: 8px;
}

.botao:hover {
    cursor: pointer;
    border: 3px solid rgb(121, 0, 0);
    color: rgb(121, 0, 0);
    font-size: 22px;
}